//SOCIAL LINKS
.social{
    text-align: right;
    &__link{
        position: fixed;
        z-index: 2;
        &:hover{
            cursor: pointer;
        }
        
        &--github{
            position: fixed;
            top: 35%;
            right: 1.5%;
            @media screen and (max-width: 992px){
                position: absolute;
                top: 40px;
                right: 20px;
            }
        }
        &--mail{
            position: fixed;
            top: 45%;
            right: 1.5%;
            @media screen and (max-width: 992px){
                position: absolute;
                top: 40px;
                right: 80px;
            }
        }
    }
    &__icon{
        font-size: 1.6em;
        color: $black;
        &:hover{
            color: $dark-pink;
        }
        &--pink{
            color: $dark-pink;
        }
    }
}



//BACK TO TOP BUTTON
.back-to-top{
    position: fixed;
    bottom: 5%;
    right: 1.5%;
    font-size: 1.6em;
    color: $black;
    &:hover{
        cursor: pointer;
        color: $dark-pink;

        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
    &--pink{
        color: $dark-pink;
    }
    @media screen and (max-width: 992px){
        display: none;
    }
}
@keyframes bounce {
    0%   {margin-bottom:0px;}
    50%  {margin-bottom:7px;}
    100% {margin-bottom:0px;}
  }






//READ MORE ABOUT ME
.read-more{
    font-weight: 500;
    border-bottom: 3px solid $white;
    margin-top: 5%;
    margin-bottom: 0;
    padding-bottom: 1%;
    &:hover{
        cursor: pointer;
        color: $pink;
    }
    &__arrow{
        padding-left: 10px;
    }
    &__text{
        line-height: 3em;
        padding: 5% 10%;
    }
}

//TOGGLE READ MORE ABOUT ME
.toggle{
    border-bottom: 3px solid $white;
    display: none;
    background-color: $white;
    &__title{
       padding-top: 5%;
    }
}