.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
    &:hover {
        background-color: rgba(255,255,255,.9);
        transition: all .5s;
    }
}

.label{
    position: absolute;
    top: 20px;
    left: -200px;
    color: red;
    transition: all .5s;
}
.overlay:hover .label{
    top: 20px;
    left: 20px;
    animation: slidein-title .5s 1s 1;
    transition: all .7s;
}


.title{
    position: absolute;
    bottom: 20px;
    right: -300px;
    color: red;
    transition: all .5s;
}
.overlay:hover .title{
    bottom: 20px;
    right: 20px;
    animation: slidein-title .5s 1s 1;
    transition: all .7s;
}