.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
    &:hover {
        transition: all .5s;
    }
    &--1{
        color: $white;
        &:hover{
            background-color: $brown-transparent;
        }
    }
    &--2{
        color: $light-pink;
        &:hover{
            background-color: $dark-pink-transparent;
        }
    }
    &--3{
        color: $black;
        &:hover{
            background-color: $light-pink-transparent;
        }
    }
    &--4{
        color: $pink;
        &:hover{
            background-color: $black-transparent;
        }
    }
    &__link{
        cursor: default;
    }
}

.label{
    font-family: $roboto;
    font-size: 1.3em;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: -200px;
    transition: all .5s;
    opacity: 0;
    margin: 0;
    @media screen and (max-width: 1200px){
        font-size: 1em;
    }
}
.overlay:hover .label{
    top: 20px;
    left: 20px;
    animation: slidein-title .5s 1s 1;
    transition: all .7s;
    opacity: 1;
}


.title{
    font-family: $playfair;
    font-size: 45px;
    position: absolute;
    bottom: 20px;
    right: -300px;
    opacity: 0;
    transition: all .5s;
    margin: 0;
    @media screen and (max-width: 1200px){
        font-size: 35px;
    }
}
.overlay:hover .title{
    bottom: 20px;
    right: 20px;
    opacity: 1;
    animation: slidein-title .5s 1s 1;
    transition: all .7s;
}