.game-of-boards-school-p{
    background: url(../img/projects/game-of-boards/index.png) center center no-repeat;
    background-size: cover;
}

.style-guide-school-p{
    background: url(../img/apple-606761_1280.jpg) center center no-repeat;
    background-size: cover;
}