.game-of-boards-sp{
    background: url(../img/projects/game-of-boards/index.png) center center no-repeat;
    background-size: cover;
}

.style-guide-sp{
    background: url(../img/projects/style-guide/styleguide-imac.jpg) center center no-repeat;
    background-size: cover;
}
.angular-app-sp{
    background: rgb(255,253,253) url(../img/projects/mtg-cards-sp/mtg-logo.png) center center no-repeat;
    background-size: contain;
}

.letha-sp{
    background: url(../img/projects/letha-sp/frontpg.jpg) center top no-repeat;
    background-size: cover;
}

.science-museum-sp{
    background: url(../img/projects/science-museum-sp/index.jpg) center top no-repeat;
    background-size: cover;
}

.social-project{
    &__github{
        position: absolute;
                top: 5%;
                right: 5%;
    }
    &__mail{
        position: absolute;
        top: 5%;
        right: 25%;
    }
}