@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Roboto:100,400,500");
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.overlay:hover {
  transition: all 0.5s;
}
.overlay--1 {
  color: #fffdfd;
}
.overlay--1:hover {
  background-color: rgba(89, 68, 64, 0.9);
}
.overlay--2 {
  color: #f2e0de;
}
.overlay--2:hover {
  background-color: rgba(216, 114, 91, 0.9);
}
.overlay--3 {
  color: #271f23;
}
.overlay--3:hover {
  background-color: rgba(242, 224, 222, 0.9);
}
.overlay--4 {
  color: #f2a391;
}
.overlay--4:hover {
  background-color: rgba(39, 31, 35, 0.9);
}
.overlay__link {
  cursor: default;
}

.label {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: -200px;
  transition: all 0.5s;
  opacity: 0;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .label {
    font-size: 1em;
  }
}

.overlay:hover .label {
  top: 20px;
  left: 20px;
  animation: slidein-title 0.5s 1s 1;
  transition: all 0.7s;
  opacity: 1;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  position: absolute;
  bottom: 20px;
  right: -300px;
  opacity: 0;
  transition: all 0.5s;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .title {
    font-size: 35px;
  }
}

.overlay:hover .title {
  bottom: 20px;
  right: 20px;
  opacity: 1;
  animation: slidein-title 0.5s 1s 1;
  transition: all 0.7s;
}

.game-of-boards-sp {
  background: url(../img/projects/game-of-boards/index.png) center center no-repeat;
  background-size: cover;
}

.style-guide-sp {
  background: url(../img/projects/style-guide/styleguide-imac.jpg) center center no-repeat;
  background-size: cover;
}

.angular-app-sp {
  background-color: green;
  background-size: cover;
}

.letha-sp {
  background: url(../img/projects/letha-sp/frontpg.jpg) center top no-repeat;
  background-size: cover;
}

.science-museum-sp {
  background: url(../img/projects/science-museum-sp/index.jpg) center top no-repeat;
  background-size: cover;
}

.social-project__github {
  position: absolute;
  top: 5%;
  right: 5%;
}
.social-project__mail {
  position: absolute;
  top: 5%;
  right: 25%;
}

.social {
  text-align: right;
}
.social__link {
  position: fixed;
  z-index: 2;
}
.social__link:hover {
  cursor: pointer;
}
.social__link--github {
  position: fixed;
  top: 35%;
  right: 1.5%;
}
@media screen and (max-width: 992px) {
  .social__link--github {
    position: absolute;
    top: 40px;
    right: 20px;
  }
}
.social__link--mail {
  position: fixed;
  top: 45%;
  right: 1.5%;
}
@media screen and (max-width: 992px) {
  .social__link--mail {
    position: absolute;
    top: 40px;
    right: 80px;
  }
}
.social__icon {
  font-size: 1.6em;
  color: #271f23;
  padding: 5px;
}
.social__icon:hover {
  color: #d8725b;
}
.social__icon--pink {
  color: #d8725b;
}

.back-to-top {
  position: fixed;
  bottom: 5%;
  right: 1.5%;
  font-size: 1.6em;
  color: #271f23;
}
.back-to-top:hover {
  cursor: pointer;
  color: #d8725b;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.back-to-top--pink {
  color: #d8725b;
}
@media screen and (max-width: 992px) {
  .back-to-top {
    display: none;
  }
}

@keyframes bounce {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 7px;
  }
  100% {
    margin-bottom: 0px;
  }
}
.logo {
  position: absolute;
}
.logo__name {
  color: #271f23;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  text-shadow: 1px 2px white;
}
@media screen and (max-width: 350px) {
  .logo__name {
    font-size: 35px;
  }
}
.logo__name:hover {
  text-decoration: none;
  cursor: pointer;
}
.logo__link:hover {
  text-decoration: none;
}

.project-page {
  margin-top: 15vh;
  margin-bottom: 10vh;
  overflow: hidden;
}
.project-page__heading {
  text-align: right;
  border-bottom: 3px solid #fffdfd;
}
@media screen and (max-width: 767px) {
  .project-page__heading {
    text-align: left;
  }
}
.project-page__heading--medium {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  .project-page__heading--medium {
    font-size: 1.2em;
  }
}
.project-page__text-container {
  margin-top: 10px;
  padding-left: 3%;
}
@media screen and (max-width: 767px) {
  .project-page__text-container {
    margin-top: 10vh;
  }
}
@media screen and (max-width: 450px) {
  .project-page__text-container {
    padding: 10px;
    margin-top: 1vh;
  }
}
.project-page__text {
  padding-right: 10vh;
  font-weight: 400;
  margin-bottom: 5vh;
}
@media screen and (max-width: 767px) {
  .project-page__text {
    padding-right: 0;
  }
}
.project-page__vw-image-container {
  margin: 0;
  padding: 0;
  z-index: 2;
}
.project-page__vw-image {
  width: 100%;
}
.project-page__goto {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
}
.project-page__goto--link {
  color: #d8725b;
}
.project-page__goto--link:hover {
  color: #f2a391;
  text-decoration: none;
}

.game-of-boards__container {
  margin: 0;
  padding: 15vh;
  background-color: #fffdfd;
}
@media screen and (max-width: 1200px) {
  .game-of-boards__container {
    padding: 4vh;
  }
}
@media screen and (max-width: 450px) {
  .game-of-boards__container {
    padding: 0;
  }
}
.game-of-boards__img-container {
  padding: 5vh;
}

.style-guide__container {
  margin: 0;
  padding: 15vh;
  background-color: #fffdfd;
}
@media screen and (max-width: 450px) {
  .style-guide__container {
    padding: 0;
  }
}
.style-guide__img-container {
  padding: 5vh;
}

.letha__carousel {
  padding: 0;
}

.science-museum__container {
  margin: 0;
  padding: 15vh;
  background-color: #fffdfd;
}
@media screen and (max-width: 1200px) {
  .science-museum__container {
    padding: 4vh;
  }
}
@media screen and (max-width: 450px) {
  .science-museum__container {
    padding: 0;
  }
}
.science-museum__img {
  filter: invert(100);
}
.science-museum__img-container {
  padding: 5vh;
}

body {
  background-color: #f2e0de;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #271f23;
  line-height: 27px;
}
@media screen and (max-width: 450px) {
  p {
    font-size: 0.85em;
  }
}

h1:hover, h2:hover, h3:hover, p:hover {
  cursor: default;
}

.portfolio {
  padding: 5%;
  overflow: hidden;
}
.portfolio__heading {
  font-size: 45px;
  font-family: "Playfair Display", serif;
}
@media screen and (max-width: 450px) {
  .portfolio__heading {
    font-size: 33px;
  }
}

.personal-info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 10vh;
  position: relative;
}
@media screen and (max-width: 450px) {
  .personal-info {
    margin-top: 15vh;
  }
}
.personal-info__image {
  width: 200px;
  border-radius: 100px;
  border: 3px solid #fffdfd;
}
@media screen and (max-width: 450px) {
  .personal-info__image {
    width: 170px;
  }
}
.personal-info__name {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  margin-top: 30px;
  text-shadow: 1px 2px white;
}
@media screen and (max-width: 450px) {
  .personal-info__name {
    font-size: 35px;
  }
}
.personal-info__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3em;
}
@media screen and (max-width: 450px) {
  .personal-info__title {
    font-size: 1.1em;
  }
}
.personal-info__text {
  margin-top: 30px;
}
.personal-info__skills {
  display: inline-block;
  margin: 0 15px;
}

.project {
  position: relative;
  display: block;
  overflow: hidden;
  border: 3px solid #fffdfd;
  padding: 0;
  height: 100%;
}
.project--large {
  height: 38vw;
  max-height: 594px;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  .project--large {
    height: 50vh;
  }
}
.project--small {
  height: 50%;
  padding: 15px;
}
.project__text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8725b;
  color: #f2e0de;
}

.small-project-container {
  padding: 0;
  height: 38vw;
  max-height: 594px;
}
@media screen and (max-width: 767px) {
  .small-project-container {
    height: 100vh;
  }
}

.footer {
  margin-top: 10vh;
}
.footer__text {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
