@import "colors";
@import "fonts";
@import "overlay";

body{
    background-color: $light-pink;
}

p{
    font-family: $roboto;
    color: $black;
}


.portfolio{
    padding: 2%;
}

.personal-info{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &__image{
        width: 200px;
        border-radius: 100px;
    }
    &__name{
        font-family: $playfair;
        font-size: 45px;
    }
    &__title{
        font-family: $roboto;
        font-weight: 400;
    }
    &__skills{
        display: inline;
    }
}

.project{
    position: relative;
    display: block;
    overflow: hidden;
    border: 3px solid $white;
    &--large{
     height: 60vh;   
    }
    &--small{
        height: 30vh;
    }
    &__image{
        &--game-of-boards{
            background-image: url(../img/apple-606761_1280.jpg);
        }
    }
}