@import "colors";
@import "fonts";
@import "project-overlay";
@import "projects";
@import "components";

@import "./projects/project-page";
@import "./projects/game-of-boards";
@import "./projects/style-guide-sp";
@import "./projects/letha-sp";
@import "./projects/science-museum-sp";

body{
    background-color: $light-pink;
}
p{
    font-family: $roboto;
    font-weight: 100;
    color: $black;
    line-height: 27px;
    @media screen and (max-width: 450px){
        font-size: .85em;
    }
}
h1, h2, h3, p{
    &:hover{
        cursor: default;
    }
}

.portfolio{
    padding: 5%;
    overflow: hidden;
    &__heading{
        font-size: 45px;
        font-family: $playfair;    
    }
}

.social{
    text-align: right;
    &__link{
        display: inline-block;
        position: relative;
        margin-left: 15px;
        z-index: 2;
        &:hover{
            cursor: pointer;
        }
    }
    &__icon{
        font-size: 1.6em;
        color: $black;
        padding: 5px;
        &:hover{
            color: $dark-pink;
        }
    }
}

.personal-info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 10vh;
    position: relative;
    @media screen and (max-width: 450px){
        margin-top: 15vh;
    }
    &__image{
        width: 200px;
        border-radius: 100px;
        border: 3px solid $white;
        @media screen and (max-width: 450px){
            width: 170px;
        }
    }
    &__name{
        font-family: $playfair;
        font-size: 45px;
        margin-top: 30px;
        text-shadow: 1px 2px white;
        @media screen and (max-width: 450px){
            font-size: 35px;
        }
    }
    &__title{
        font-family: $roboto;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.3em;
        @media screen and (max-width: 450px){
            font-size: 1.1em;
        }
    }
    &__text{
        margin-top: 30px;
    }
    &__skills{
        display: inline-block;
        margin: 0 15px;
    }
}

.project{
    position: relative;
    display: block;
    overflow: hidden;
    border: 3px solid $white;
    padding: 0;
    height: 100%;
    &--large{
        height: 38vw;
        max-height: 594px;  
        padding: 15px;
        @media screen and (max-width: 767px){
            height: 50vh;
        }
    }
    &--small{
        height: 50%;
        padding: 15px;
        @media screen and (max-width: 767px){
            height: 100%;
        }
    }
    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-pink;
        color: $light-pink;
    }
}

.small-project-container{
    padding: 0;
    height: 38vw;
    max-height: 594px; 
    @media screen and (max-width: 767px){
        height: 50vh;
    }
}

.footer{
    margin-top: 10vh;
    &__text{
        text-align: center;
    }
}